@media (max-width: 1200px)
    .menu
        .menu_item
            padding-right: 20px
        .menu_link
            font-size: 13px
    .promo
        .promo_header
            font-size: 50px
    .reasons
        .reasons_block
            align-items: flex-start
            .reasons_descr
                width: 300px

/** Закончить адаптацию здесь **/

@media (max-width: 991px)
    .menu
        .menu_item
            padding-right: 8px
        .menu_link
            font-size: 10px
    .subheader
        .subheader_logo
            img
                width: 100%
        .subheader_official
            font-size: 11px
        .subheader_btn
            width: 100%
            height: 40px
            margin-top: 22px
    .promo
        .promo_header
            font-size: 40px
        .promo_subheader
            font-size: 30px
    .reasons
        .reasons_block
            flex-direction: column
            align-items: center
            .reasons_descr
                width: 300px
                margin-top: 20px

                
@media (max-width: 767px)
    .menu
        position: fixed
        top: 0
        right: 0
        padding: 20px 15px
